[submodule "01_Calculadora/Suma"]
	path = 01_Calculadora/Suma
	url = https://github.com/2025-b-sw-construccion-gr2/amct-suma.git
[submodule "01_Calculadora/Resta"]
	path = 01_Calculadora/Resta
	url = https://github.com/2025-b-sw-construccion-gr2/amct-resta.git
