# Dependencies
node_modules/

# Environment variables
# .env # Se debería incluir si se usan variables de entorno

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build
dist/
build/
